<div class="container">
    <div class="row">
      <div class="col">
        <br/>
        <button (click)="addNewCar()" type="button" class="btn btn-success float-right">Add a Car</button>
        <br/>
        <br/>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let car of data">
        <div class="card" >
          <h5 class="card-header">Car {{car.id}}
            <button (click)="onClickMe(car)" class="btn btn-primary float-right btn-sm">Edit</button>
          </h5>
          <div class="card-body">
            <p>
              Made: {{car.made}}
              <br/>
              Model: {{car.model}}
              <br/>
              Wheels: {{car.wheels}}
              <br/>
              Car Type: {{car.carType}}
              <br/>
              Features: {{car.features}}
            </p>
          </div>
        </div>
      </div>

    </div>
</div>
