<div class="container">
  <button (click)="addNewCar()" type="button" class="btn btn-primary">Add a Car</button>
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <div class="card" *ngFor="let car of data">
          <h5 class="card-header">Car {{car.id}}</h5>
          <div class="card-body">
            <p>
              Made: {{car.made}}
              <br/>
              Model: {{car.model}}
              <br/>
              Wheels: {{car.wheels}}
              <br/>
              Car Type: {{car.carType}}
              <br/>
              Features: {{car.features}}
            </p>
            <button (click)="onClickMe(car)" class="btn btn-primary">Edit</button>
          </div>
        </div>

      </div>
    </div>
</div>
