  <div class="card">
    <h6 class="card-header">Features</h6>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action" *ngFor="let feature of parentData?.features">
              {{feature}}
            </button>
          </div>
        </div>
        <div class="col">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action" *ngFor="let feature of parentData?.features">
              {{feature}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
