  <div class="card text-center">
    <h6 class="card-header">Features</h6>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6>Available</h6>
          <div class="list-group" id="availableList">
            <button (click)="toggleSelection($event,feature)" type="button" class="list-group-item list-group-item-action" *ngFor="let feature of availableFeaturesList">
              {{feature}}
            </button>
          </div>
        </div>
        <div class="col">
          <h6>Selected</h6>
          <div class="list-group" id="selectedList">
            <button (click)="toggleSelection($event,feature)" type="button" class="list-group-item list-group-item-action" *ngFor="let feature of selectedFeaturesList">
              {{feature}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
